.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 12px 40px;
    background-color: var(--color-bg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
    border-bottom: 1px solid #A1A1AA;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.5);
}

[data-theme="dark"] .navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.5);
}

.top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.navbar-logo img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.navbar-title h1 {
    font-size: 24px;
    color: #E7B008;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: playfair display, serif;
}

.navbar-title p {
    font-size: 14px;
    margin: 0;
    color: #A1A1AA;
    letter-spacing: 1px;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
    z-index: 1001;
    position: relative;
}

.navbar-links {
    margin-left: 30px;
}

.navbar-links ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-links a {
    position: relative;
    text-decoration: none;
    color: #A1A1AA;
    font-weight: 600;
    font-size: 14px;
    transition: color 0.3s;
    padding-bottom: 6px;
}

.navbar-links a:hover {
    color: #E7B008;
}

.navbar-links a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #E7B008;
    transition: width 0.3s ease-in-out;
}

.navbar-links a.active::after {
    width: 100%;
}

.navbar-links a.active {
    color: #E7B008;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}

.navbar-searching {
    display: flex;
    align-items: center;
    border: 1px solid #d4d4d8;
    border-radius: 10px;
    padding: 0 12px;
    background-color: var(--color-bg);
    width: 350px;
    height: 40px;
    position: relative;
}

.navbar-searching .icon {
    color: #A1A1AA;
    font-size: 18px;
}

.navbar-searching input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 15px;
    color: var(--text-color);
    background: transparent;
}

.navbar-searching input::placeholder {
    color: #A1A1AA;
    font-weight: 400;
}

.navbar-searching .clear-icon {
    position: absolute;
    right: 12px;
    font-size: 18px;
    color: #A1A1AA;
    cursor: pointer;
    padding: 2px;
    background: transparent;
}

.theme-toggle,
.cart {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #A1A1AA;
    transition: background-color 0.3s ease;
    padding: 8px 10px;
    border-radius: 8px;
}

.theme-toggle:hover {
    background-color: #f1f1f1;
}

[data-theme="dark"] .theme-toggle:hover {
    background-color: #27272A;
}

.theme-toggle .icon {
    font-size: 22px;
    color: #09090B;
}

.cart {
    font-size: 38px;
    color: #09090B;
}

.icon.cart:hover {
    background-color: #f1f1f1;
}

[data-theme="dark"] .icon.cart:hover {
    background-color: #27272A;
}

.mobile-extra-buttons {
    display: none;
}

.login-btn {
    background-color: #E7B008;
    border: none;
    color: #09090B;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: background 0.3s;
    width: 100px;
    height: 36px;
}

.user {
    color: #09090B;
    font-size: 20px;
}

.login-btn:hover {
    background-color: #C39500;
}

.bottom-row {
    display: none;
}

@media (max-width: 1024px) {
    .navbar-links {
        display: none;
    }

    .hamburger {
        display: block;
        background: none;
        border: none;
        color: #000;
        z-index: 1003;
        cursor: pointer;
        margin-left: 20px;
    }

    [data-theme="dark"] .hamburger {
        color: #fff;
    }

    .navbar {
        padding: 12px 20px;
        position: relative;
        z-index: 1002;
    }

    .navbar-links {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--color-bg);
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: all 0.4s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
    }

    .navbar-links.open {
        max-height: 500px;
        opacity: 1;
    }

    .navbar-links ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
        list-style: none;
        margin: 20px 0;
        padding: 0 24px;
    }

    .navbar-links li {
        width: 100%;
    }

    .navbar-links a {
        font-size: 18px;
        color: #a1a1aa;
        text-decoration: none;
        transition: color 0.3s;
    }

    .navbar-links a.active {
        color: #e7b008;
    }

    .navbar-right {
        margin-left: 150px;
    }
}

@media (max-width: 900px) {
    .navbar-right {
        margin-left: 0px;
    }
}

@media (max-width: 768px) {
    .bottom-row {
        display: block;
        width: 100%;
    }

    .navbar-searching {
        display: none;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 12px 16px;
        gap: 10px;
    }


    .hamburger {
        margin-left: 20px;
    }

    .navbar-left {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .navbar-right {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 12px;
        margin-left: 380px;
    }

    .mobile-navbar-search {
        width: 100%;
        margin-top: 8px;
        border: 1px solid #e5e7eb;
        background-color: var(--color-bg);
        border-radius: 10px;
        height: 40px;
        padding: 8px 12px;
        display: flex;
        align-items: center;
        position: relative;
    }

    .mobile-navbar-search .icon {
        color: #A1A1AA;
        font-size: 18px;
    }

    .mobile-navbar-search input {
        flex: 1;
        border: none;
        outline: none;
        font-size: 15px;
        color: var(--text-color);
        background: transparent;
    }

    .mobile-navbar-search input::placeholder {
        color: #A1A1AA;
        font-weight: 400;
    }

    .mobile-navbar-search .clear-icon {
        position: absolute;
        right: 12px;
        font-size: 18px;
        color: #A1A1AA;
        cursor: pointer;
        padding: 2px;
        background: transparent;
    }

    .navbar-links {
        border-top: 1px solid #A1A1AA;
    }

    .navbar-links ul {
        gap: 20px;
        margin: 15px 0;
        padding: 0 20px;
    }

    .navbar-links a {
        font-size: 16px;
    }

    .navbar-right .theme-toggle,
    .navbar-right .cart {
        display: none !important;
    }

    .mobile-extra-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 24px 25px;
        border-top: 1px solid #e5e7eb;
        width: 100%;
    }

    .mobile-extra-buttons .cart-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100px;
        background-color: #E7B008;
        color: #000;
        border: none;
        border-radius: 8px;
        padding: 2px 12px;
        font-weight: 600;
        font-size: 15px;
        cursor: pointer;
        transition: background 0.3s ease;
    }

    .mobile-extra-buttons .cart-btn:hover {
        background-color: #c39500;
    }

    .mobile-extra-buttons .theme-toggle {
        background: transparent;
    }

    .mobile-extra-buttons .theme-toggle span {
        color: var(--text-color);
        margin-left: 10px;
        font-size: 15px;
        font-weight: 500;
    }
}

@media (max-width: 700px) {
    .navbar-right {
        gap: 10px;
        margin-left: 320px;
    }
}

@media (max-width: 600px) {
    .navbar-right {
        margin-left: 220px;
    }
}

@media (max-width: 500px) {
    .navbar {
        padding: 8px 10px;
    }

    .navbar-left {
        gap: 8px;
    }

    .navbar-logo img {
        width: 45px;
        height: 45px;
    }

    .navbar-title h1 {
        font-size: 20px;
    }

    .navbar-title p {
        font-size: 12px;
    }

    .navbar-right {
        margin-left: 110px;
        gap: 6px;
    }

    .hamburger {
        margin-left: 10px;
    }

    .hamburger svg {
        width: 20px;
        height: 20px;
    }

    .theme-toggle .icon {
        font-size: 20px;
    }

    .cart {
        font-size: 36px;
    }

    .login-btn {
        padding: 4px 10px;
        font-size: 13px;
        gap: 6px;
        width: 80px;
        height: 30px;
    }

    .user {
        font-size: 16px;
    }

    .navbar-links ul {
        gap: 16px;
        margin: 10px 0;
        padding: 0 15px;
    }

    .navbar-links a {
        font-size: 14px;
    }

    .navbar-right {
        margin-left: 200px;
    }
}

@media (max-width: 425px) {
    .navbar-right {
        margin-left: 125px;
    }
}

@media (max-width: 375px) {
    .login-btn {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .login-btn span,
    .login-btn::after {
        display: none;
    }

    .login-btn {
        font-size: 0;
    }

    .login-btn .user {
        font-size: 20px;
    }

    [data-theme="dark"] .login-btn .user {
        color: #fff;
    }

    navbar-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 14px;
        margin-left: 100px;
    }
}

@media (max-width: 320px) {
    .navbar-right {
        margin-left: 75px;
    }
}