.gifts {
    padding: 120px 80px 60px 80px;
    background-color: var(--color-bg);
}

.gifts-title {
    text-align: center;
    margin-bottom: 40px;
}

.gifts-wrapper {
    width: 100px;
    height: 100px;
    margin: 0 auto 25px;
    border-radius: 50%;
    background: #fff6d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

[data-theme="dark"] .gifts-wrapper {
    background: #211A0E;
}

.gifts-wrapper img {
    width: 50px;
    height: 50x;
}

.gifts-title h1 {
    font-size: 60px;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-bottom: 15px;
    color: var(--text-color);
    font-family: "Playfair Display", serif;
}

.gifts-title h1 span {
    color: #e7b008;
}

.gifts-title p {
    font-size: 22px;
    color: #A1A1AA;
}

.curated-collection-title {
    text-align: center;
    margin-top: 80px;
}

.curated-collection-title h3 {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 50px;
    color: var(--text-color);
    font-family: "Playfair Display", serif;
}

.curated-collection-title h3 span {
    color: #e7b008;
}

.curated-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}

.gift-card {
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    overflow: hidden;
    padding-bottom: 20px;
}

.gift-card:hover {
    transform: translateY(-4px);
}

.gift-img-box {
    position: relative;
    width: 100%;
    height: 320px;
    overflow: hidden;
    border-radius: 12px 12px 0 0;
}

.gift-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.save-tag {
    position: absolute;
    top: 12px;
    left: 12px;
    background: #fcd34d;
    color: #000;
    padding: 4px 10px;
    font-size: 12px;
    border-radius: 20px;
    font-weight: bold;
}

.box-img {
    position: absolute;
    top: 12px;
    right: 12px;
    border: none;
    background: #ffffffcc;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-img img {
    width: 25px;
    height: 25px;
}

.gift-content {
    padding: 20px 25px;
}

.gift-title {
    font-size: 26px;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 5px;
    display: inline-block;
    font-family: "Playfair Display", serif;
}

.rating {
    float: right;
    color: #e7b008;
}

.rating span {
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
}

.gift-desc {
    margin: 12px 0;
    font-size: 17px;
    color: #A1A1AA;
}

.included-container {
    margin-top: 30px;
}

.included-heading {
    display: flex;
    align-items: center;
    gap: 10px;
}

.included-heading img {
    width: 23px;
    height: 23px;
}

.included-heading p {
    font-size: 17px;
    font-weight: 600;
    color: var(--text-color);
}

.included-list {
    padding: 10px 25px;
}

.included-list ul li {
    color: #A1A1AA;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 400;
}

.included-list ul li::marker {
    color: #e7b008;
}

.price-block {
    margin-top: 10px;
}

.price-block h3 {
    font-size: 30px;
    font-weight: 700;
    display: inline-block;
    color: var(--text-color);
}

.mrp {
    display: inline-block;
    margin-left: 10px;
    text-decoration: line-through;
    color: #A1A1AA;
    font-size: 18px;
    font-weight: 400;
}

.discount {
    font-size: 14px;
    color: green;
    font-weight: 500;
}

.curated-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}

.cart-btn {
    width: 90%;
    background: #e7b008;
    color: #000;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.cart-btn:hover {
    background-color: #C39500;
}

.like-btn {
    width: 10%;
    background: transparent;
    border: 1px solid #e5e7eb;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.like-btn:hover {
    background-color: #f1f1f1;
}

[data-theme="dark"] .like-btn:hover {
    background-color: #27272A;
}

.like-btn svg {
    color: #000;
}

[data-theme="dark"] .like-btn svg {
    color: #fff;
}

.gift-footer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    background: #fff7d1;
    padding: 15px 30px;
    border-radius: 10px;
}

[data-theme="dark"] .gift-footer {
    background-color: #211A0E;
}

.gift-footer img {
    width: 15px;
    height: 15px;
}

.gift-footer p {
    font-size: 16px;
    font-weight: 500;
    color: #e7b008;
}

.gift-occasion {
    margin-top: 80px;
}

.gift-occasion-title {
    text-align: center;
}

.gift-occasion-title h3 {
    font-size: 34px;
    font-weight: bolder;
    margin-bottom: 50px;
    color: var(--text-color);
    font-family: "Playfair Display", serif;
}

.gift-occasion-title h3 span {
    color: #e7b008;
}

.gift-occasion-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    text-align: center;
}

.gift-occasion-desc {
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    padding: 30px;
}

.gift-occasion-desc:hover {
    transform: translateY(-4px);
}

.gift-occasion-desc img {
    width: 50px;
    height: 50px;
}

.gift-occasion-desc h4 {
    font-size: 22px;
    font-weight: bolder;
    color: var(--text-color);
    font-family: "Playfair Display", serif;
    margin: 15px 0;
}

.gift-occasion-desc .desc-para1 {
    font-size: 16px;
    font-weight: 400;
    color: #71717A;
}

.gift-occasion-desc .desc-para2 {
    font-size: 14px;
    font-weight: 500;
    color: #e7b008;
    margin-top: 15px;
}

.custom-gift-service {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 450px;
    margin-top: 80px;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
}

.custom-gift-desc {
    width: 50%;
    padding: 40px;
}

.custom-gift-desc h3 {
    font-size: 34px;
    font-weight: bolder;
    color: var(--text-color);
    font-family: "Playfair Display", serif;
}

.custom-gift-desc h3 span {
    color: #e7b008;
}

.custom-gift-desc p {
    font-size: 18px;
    color: #A1A1AA;
    font-weight: 400;
    margin: 20px 0;
}

.custom-gift-list ul li {
    color: var(--text-color);
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 400;
}

.custom-gift-list ul li::marker {
    color: #e7b008;
    font-size: 20px;
}

.custom-gift-btn {
    width: 35%;
    background: #e7b008;
    color: #000;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}

.custom-gift-btn:hover {
    background-color: #C39500;
}

.custom-gift-img {
    width: 50%;
}

.custom-gift-img img {
    width: 100%;
    height: 450px;
    border-radius: 0 12px 12px 0;
    object-fit: cover;
    margin-top: 3px;
    margin-left: 3px;
}

.custom-gift-list {
    padding: 10px 20px;
}

.perfect-gift {
    margin-top: 80px;
}

.perfect-gift-desc {
    text-align: center;
}

.perfect-gift-desc h3 {
    font-size: 34px;
    font-weight: bolder;
    color: var(--text-color);
    font-family: "Playfair Display", serif;
}

.perfect-gift-desc p {
    font-size: 18px;
    color: #A1A1AA;
    font-weight: 400;
    margin: 15px 0;
}

.perfect-gift-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.shop-all {
    width: 180px;
    background: #e7b008;
    color: #000;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}

.shop-all:hover {
    background-color: #C39500;
}

.gift-advice {
    width: 180px;
    background: transparent;
    color: var(--text-color);
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    border: 1px solid #e5e7eb;
}

.gift-advice:hover {
    background-color: #f1f1f1;
}

[data-theme="dark"] .gift-advice:hover {
    background-color: #27272A;
}

@media (max-width: 1024px) {
    .gifts {
        padding: 40px 20px;
    }

    .custom-gift-btn {
        width: 45%;
    }
}

@media (max-width: 900px) {
    .gift-occasion-desc {
        padding: 20px 10px;
    }

    .custom-gift-desc {
        padding: 20px;
    }

    .gift-footer {
        gap: 10px;
        padding: 15px;
    }
}

@media (max-width: 768px) {
    .gifts-wrapper {
        width: 70px;
        height: 70px;
    }

    .gifts-wrapper img {
        width: 30px;
        height: 30px;
    }

    .gifts-title h1 {
        font-size: 50px;
    }

    .gifts-title p {
        font-size: 19px;
    }


    .curated-collection-title h3 {
        margin-bottom: 30px;
    }

    .curated-grid {
        grid-template-columns: 1fr;
    }

    .gift-occasion-title h3 {
        margin-bottom: 30px;
    }

    .gift-occasion-grid {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .custom-gift-service {
        height: 100%;
        flex-direction: column-reverse;
    }

    .custom-gift-desc {
        width: 100%;
        padding: 30px;
    }

    .custom-gift-list {
        padding: 10px 20px;
    }

    .custom-gift-btn {
        width: 35%;
    }

    .custom-gift-img {
        width: 100%;
    }

    .custom-gift-img img {
        height: 400px;
        border-radius: 12px 12px 0 0;
        margin-top: 0px;
        margin-left: 0px;
    }
}

@media (max-width: 768px) {
    .gifts-title h1 {
        font-size: 45px;
    }

    .gifts-title p br {
        display: none;
    }

    .gifts-title p {
        font-size: 18px;
    }
}

@media (max-width: 425px) {
    .gifts-title h1 {
        font-size: 40px;
    }

    .gifts-title p {
        font-size: 17px;
    }

    .gift-img-box {
        height: 250px;
    }

    .gift-content {
        padding: 20px;
    }

    .gift-title {
        font-size: 22px;
    }

    .rating {
        margin-top: 2px;
    }

    .gift-desc {
        margin: 10px 0;
        font-size: 16px;
    }

    .included-container {
        margin-top: 20px;
    }

    .included-heading img {
        width: 20px;
        height: 20px;
    }

    .included-heading p {
        font-size: 16px;
    }

    .included-list ul li {
        font-size: 15px;
    }

    .price-block h3 {
        font-size: 26px;
    }

    .mrp {
        font-size: 16px;
    }

    .cart-btn {
        width: 85%;
        font-size: 14px;
    }

    .like-btn {
        width: 15%;
    }

    .gift-footer p {
        font-size: 15px;
    }

    .gift-occasion-grid {
        grid-template-columns: 1fr;
    }

    .custom-gift-img img {
        height: 300px;
    }

    .custom-gift-desc {
        padding: 20px;
    }

    .custom-gift-desc h3 {
        font-size: 28px;
    }

    .custom-gift-desc p {
        font-size: 17px;
    }

    .custom-gift-list ul li {
        margin-bottom: 6px;
        font-size: 15px;
    }

    .custom-gift-list ul li::marker {
        font-size: 18px;
    }

    .custom-gift-btn {
        width: 50%;
    }

    .perfect-gift-desc h3 {
        font-size: 28px;
    }

    .perfect-gift-desc p {
        font-size: 17px;
        margin: 10px 0;
    }

    .perfect-gift-btns {
        flex-direction: column;
        gap: 0px;
    }

    .shop-all,
    .gift-advice {
        width: 100%;
    }
}

@media (max-width: 375px) {
    .gifts-wrapper {
        width: 50px;
        height: 50px;
        margin: 0 auto 20px;
    }

    .gifts-wrapper img {
        width: 22px;
        height: 22px;
    }

    .gifts-title h1 {
        font-size: 36px;
    }

    .gifts-title p {
        font-size: 16px;
    }

    .curated-collection-title h3 {
        font-size: 30px;
    }

    .gift-occasion-title h3 {
        font-size: 30px;
    }

    .custom-gift-desc p {
        font-size: 16px;
    }

    .custom-gift-btn {
        width: 100%;
    }

    .perfect-gift-desc h3 {
        font-size: 24px;
    }
}

@media (max-width: 320px) {
    .gifts-title h1 {
        font-size: 32px;
    }

    .gifts-title p {
        font-size: 15px;
    }

    .curated-collection-title h3 {
        font-size: 28px;
    }

    .gift-img-box {
        height: 220px;
    }

    .gift-content {
        padding: 10px;
    }

    .gift-title {
        font-size: 18px;
    }

    .gift-desc {
        margin: 7px 0;
        font-size: 15px;
    }

    .included-container {
        margin-top: 15px;
    }

    .included-heading img {
        width: 17px;
        height: 17px;
    }

    .included-heading p {
        font-size: 16px;
    }

    .included-list ul li {
        font-size: 14px;
    }

    .price-block h3 {
        font-size: 22px;
    }

    .mrp {
        font-size: 14px;
    }

    .gift-footer {
        gap: 8px;
        padding: 10px;
    }

    .gift-footer p {
        font-size: 13px;
    }

    .gift-occasion-title h3 {
        font-size: 28px;
    }

    .custom-gift-img img {
        height: 250px;
    }

    .custom-gift-desc {
        padding: 10px;
    }

    .custom-gift-desc h3 {
        font-size: 26px;
    }

    .custom-gift-desc p {
        font-size: 15px;
        margin: 10px 0;
    }

    .custom-gift-list ul li {
        margin-bottom: 5px;
        font-size: 14px;
    }

    .custom-gift-list ul li::marker {
        font-size: 15px;
    }

    .perfect-gift {
        margin-top: 50px;
    }

    .perfect-gift-desc h3 {
        font-size: 20px;
    }

    .perfect-gift-desc p {
        font-size: 15px;
        margin: 10px 0;
    }
}