.register-container {
    width: auto;
    height: auto;
}

.register-box {
    width: 450px;
    background: var(--color-bg);
    padding: 30px 35px;
    border-radius: 12px;
    position: relative;
    overflow-y: auto;
    animation: fadeIn 0.25s ease;
}

[data-theme="dark"] .register-box {
    border: 1px solid #e5e7eb;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.97);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #717171;
    padding: 4px;
    border-radius: 50%;
    transition: 0.2s;
}

.close-btn:hover {
    color: #000;
}

.register-title {
    text-align: center;
    font-size: 24px;
    font-family: "Playfair Display", serif;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 20px;
}

.auth-tabs {
    display: flex;
    background: #f1f1f1;
    border-radius: 30px;
    padding: 4px;
    margin-bottom: 20px;
}

[data-theme="dark"] .auth-tabs {
    background-color: #27272A;
}

.auth-tabs button {
    flex: 1;
    padding: 8px 0;
    background: transparent;
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 30px;
    font-weight: 600;
    color: #717171;
}

.auth-tabs .active {
    background: var(--color-bg);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    color: var(--text-color);
}

.auth-form label {
    font-size: 14px;
    color: #000;
    font-weight: 600;
    display: block;
    margin-bottom: 6px;
}

.auth-form input {
    width: 100%;
    padding: 12px;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    font-size: 15px;
    margin-bottom: 16px;
    outline: none;
    background-color: var(--color-bg);
}

.auth-form input::placeholder {
    color: #717171;
}

.password-field {
    position: relative;
}

.password-field span {
    position: absolute;
    right: 12px;
    top: 40%;
    transform: translateY(-50%);
    font-size: 18px;
    cursor: pointer;
    color: #555;
}

.auth-btn {
    width: 100%;
    background: #e7b008;
    padding: 10px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

.auth-btn:hover {
    background: #c39500;
}

.forgot-text {
    text-align: center;
    margin-top: 12px;
    color: #e7b008;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.forgot-text:hover {
    text-decoration: underline;
}

.policy-text {
    font-size: 12px;
    font-weight: 500;
    margin-top: 15px;
    text-align: center;
    color: #717171;
}

.policy-text span {
    color: #e7b008;
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
}

.policy-text span:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .register-box {
        max-height: 90vh;
    }
}

@media (max-width: 500px) {
    .register-box {
        width: 400px;
    }

    .register-title {
        font-size: 22px;
    }
}

@media (max-width: 425px) {
    .register-box {
        width: 380px;
        padding: 20px 25px;
    }

    .close-btn {
        top: 5px;
        right: 5px;
        font-size: 16px;
    }
}

@media (max-width: 375px) {
    .register-box {
        width: 330px;
        padding: 20px;
    }

    .close-btn {
        top: 2px;
        right: 2px;
        font-size: 14px;
    }

    .register-title {
        font-size: 20px;
    }
}

@media (max-width: 320px) {
    .register-box {
        width: 300px;
        padding: 20px 10px;
    }
}