.product-details {
    padding: 120px 80px 60px 80px;
    background-color: var(--color-bg);
}

.back-btn {
    background: none;
    border: none;
    font-size: 15px;
    font-weight: 500;
    color: var(--color-text);
    cursor: pointer;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.back-btn:hover {
    background-color: #f1f1f1;
}

.product-info {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.product-images {
    width: 50%;
}

.main-img {
    width: 100%;
    height: 550px;
    border-radius: 10px;
}

.thumb-img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin: 10px 10px 10px 0;
}

.product-details-section {
    width: 50%;
    padding: 0 30px;
}

.category-tag {
    background-color: var(--color-bg);
    color: var(--text-color);
    font-weight: 600;
    font-size: 14px;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #e5e7eb;
}

[data-theme="dark"] .category-tag {
    background-color: #27272A;
}

.product-details-title {
    font-size: 36px;
    font-weight: bolder;
    letter-spacing: 1px;
    margin: 15px 0 0 0;
    color: var(--text-color);
    font-family: "Playfair Display", serif;
}

.product-rating {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
}

.star-row {
    display: flex;
    align-items: center;
    gap: 4px;
}

.star-icon {
    font-size: 20px;
}

.filled-star {
    color: #e7b008;
}

.empty-star {
    color: var(--color-bg);
    stroke: #71717A;
    stroke-width: 40px;
}

.rating-score {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
}

.review-count {
    color: #71717A;
    font-size: 16px;
    font-weight: 500;
}

.product-price {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px 0 10px 0;
}

.product-price h2 {
    font-size: 30px;
    color: var(--text-color);
}

.product-price p {
    font-size: 20px;
    color: #71717A;
    font-weight: 400;
    text-decoration: line-through;
}

.you-save {
    font-size: 16px;
    font-weight: 500;
    color: #16A34A;
}

.product-size {
    font-size: 15px;
    margin: 8px 0;
    font-weight: 400;
    color: var(--text-color);
}

.product-size span {
    background-color: #f1f1f1;
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    padding: 2px 10px;
    border-radius: 20px;
    margin-left: 5px;
}

[data-theme="dark"] .product-size span {
    background-color: #27272A;
}

.product-border {
    border-bottom: 1px solid #e5e7eb;
    width: 100%;
    margin: 20px 0;
}

.product-description {
    font-size: 18px;
    color: #71717A;
}

.quantity-row {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px 0;
}

.qty-title {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
}

.product-quantity-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    padding: 8px 15px;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    background-color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.product-quantity-box button {
    background: none;
    border: none;
    font-size: 20px;
    color: #71717A;
    cursor: pointer;
    padding: 0;
}

.product-quantity-box span {
    font-size: 18px;
    font-weight: 600;
    color: #000;
}

.product-cart-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
}


.product-cart-row button {
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-add-cart {
    flex: 0 0 80%;
    background: #e7b008;
    color: #000;
    font-weight: 600;
    gap: 10px;
    cursor: pointer;
    border: 1px solid #e5e7eb;
}

.product-add-cart:hover {
    background-color: #C39500;
}

.product-heart-icon,
.product-share-btn {
    flex: 0 0 10%;
    background-color: var(--color-bg);
    cursor: pointer;
    font-size: 20px;
    border: 1px solid #e5e7eb;
    transition: 0.3s;
}

[data-theme="dark"] .icon.cart:hover {
    background-color: #27272A;
}

.product-heart-icon:hover,
.product-share-btn:hover {
    background-color: #f1f1f1;
}

[data-theme="dark"] .product-heart-icon:hover,
[data-theme="dark"] .product--share-btn:hover {
    background-color: #27272A;
}

.product-info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
}

.product-info-desc {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 400;
}

.product-info-grid img {
    width: 20px;
    height: 20px;
}

.product-desc {
    margin-top: 80px;
}

.product-auth-tabs {
    display: flex;
    background: #f1f1f1;
    border-radius: 30px;
    padding: 4px;
    margin-bottom: 20px;
}

[data-theme="dark"] .product-auth-tabs {
    background-color: #27272A;
}

.product-auth-tabs button {
    flex: 1;
    padding: 8px 0;
    background: transparent;
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 30px;
    font-weight: 600;
    color: #717171;
}

.product-auth-tabs .active {
    background: var(--color-bg);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    color: var(--text-color);
}

.product-auth-form {
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    padding: 25px;
}

.description h4,
.product-information h4 {
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}

.inner-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.notes h6 {
    font-size: 14px;
    font-weight: 500;
    color: #71717A;
}

.notes p {
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    margin-top: 5px;
}

.product-information ul {
    margin-top: 10px;
    list-style-position: inside;
}

.product-information ul li {
    list-style: none !important;
    position: relative;
    padding-left: 20px;
    color: #71717A;
    margin-top: 5px;
    font-weight: 400;
}

.product-information ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #71717A;
}

.ingredients-desc h4 {
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}

.ingredients-desc-p {
    font-size: 18px;
    font-weight: 400;
    color: #71717A;
    margin: 10px 0;
}

.ingredients-p {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    margin-bottom: 3px;
}

.reviews-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.reviews-header h4 {
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}

.write-review-btn {
    border: 1px solid #e5e7eb;
    background: #fff;
    padding: 8px 16px;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
    color: var(--text-color);
}

.write-review-btn:hover {
    background-color: #f1f1f1;
}

.review-item {
    margin-bottom: 20px;
}

.review-top {
    display: flex;
    align-items: center;
    gap: 15px;
}

.stars {
    display: flex;
    align-items: center;
    gap: 2px;
}

.star {
    font-size: 18px;
    color: #d1d5db;
}

.filled {
    color: #e7b008;
}

.reviewer-name {
    font-weight: 600;
    color: var(--text-color);
}

.review-time {
    color: #71717a;
    font-size: 14px;
}

.review-text {
    margin-top: 12px;
    font-size: 17px;
    color: #71717A;
}

.review-divider {
    width: 100%;
    height: 1px;
    background-color: #e5e7eb;
    margin: 20px 0;
}

@media (max-width: 1024px) {
    .product-details {
        padding: 40px 20px;
    }
}

@media (max-width: 900px) {
    .product-info {
        gap: 30px;
        flex-direction: column;
    }

    .product-images {
        width: 100%;
    }

    .product-details-section {
        width: 100%;
        padding: 0 30px;
    }

}

@media (max-width: 768px) {
    .product-details-section {
        padding: 0 0px;
    }

    .product-cart-row {
        width: 95%;
    }
}

@media (max-width: 600px) {
    .main-img {
        height: 450px;
    }
}

@media (max-width: 500px) {
    .product-details {
        padding: 20px 20px 40px 20px;
    }

    .back-btn {
        margin-bottom: 20px;
    }
}

@media (max-width: 425px) {
    .main-img {
        height: 400px;
    }

    .thumb-img {
        width: 118px;
        height: 118px;
    }

    .product-details-title {
        font-size: 30px;
    }

    .star-icon {
        font-size: 15px;
    }

    .rating-score {
        font-size: 14px;
    }

    .review-count {
        font-size: 14px;
    }

    .product-price {
        margin: 10px 0 5px 0;
    }

    .product-price h2 {
        font-size: 26px;
    }

    .product-price p {
        font-size: 17px;
    }

    .you-save {
        font-size: 14px;
    }

    .product-description {
        font-size: 17px;
    }

    .qty-title {
        font-size: 17px;
    }

    .product-quantity-box {
        width: 100px;
        padding: 6px 12px;
        font-size: 15px;
    }

    .product-quantity-box button {
        font-size: 18px;
    }

    .product-quantity-box span {
        font-size: 16px;
    }

    .product-cart-row {
        gap: 10px;
    }

    .product-add-cart {
        flex: 0 0 70%;
    }

    .product-heart-icon,
    .product-share-btn {
        flex: 0 0 15%;
        font-size: 18px;
    }

    .product-info-grid {
        grid-template-columns: 1fr;
    }

    .product-desc {
        margin-top: 50px;
    }

    .product-auth-tabs button {
        font-size: 13px;
    }

    .product-auth-form {
        padding: 15px;
    }

    .inner-desc {
        align-items: flex-start;
        margin-top: 15px;
        flex-direction: column;
        gap: 20px;
    }

    .star {
        font-size: 16px;
    }

    .reviewer-name {
        font-size: 15px;
    }

    .review-text {
        margin-top: 10px;
        font-size: 16px;
    }
}

@media (max-width: 375px) {
    .main-img {
        height: 350px;
    }

    .thumb-img {
        width: 100px;
        height: 100px;
    }

    .product-details-title {
        font-size: 24px;
    }

    .product-description {
        font-size: 16px;
    }

    .qty-title {
        font-size: 15px;
    }

    .product-quantity-box {
        width: 80px;
        padding: 4px 8px;
        font-size: 14px;
    }

    .product-quantity-box button {
        font-size: 16px;
    }

    .product-quantity-box span {
        font-size: 14px;
    }

    .product-cart-row button {
        height: 35px;
    }

    .product-info-grid {
        gap: 10px;
    }

    .product-info-desc {
        font-size: 15px;
    }

    .product-info-grid img {
        width: 18px;
        height: 18px;
    }

    .product-information ul li {
        font-size: 15px;
    }

    .ingredients-desc-p {
        font-size: 16px;
    }

    .ingredients-p {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .reviews-header h4 {
        font-size: 16px;
    }

    .write-review-btn {
        padding: 6px 10px;
        font-size: 12px;
    }

    .review-top {
        gap: 5px;
    }

    .star {
        font-size: 14px;
    }

    .reviewer-name {
        font-size: 12px;
    }

    .review-time {
        font-size: 12px;
    }

    .review-text {
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .main-img {
        height: 300px;
    }

    .thumb-img {
        width: 83px;
        height: 83px;
    }
}