* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Inter", sans-serif;
}

html, body {
  width: 100%;
  overflow-x: hidden; 
}

:root {
    --color-bg: #fff;
    --text-color: #09090B;
}

[data-theme="dark"] {
    --color-bg: #121212;
    --text-color: #E4E4E7;
}