.fragrance-collection {
    padding: 60px 80px;
    background-color: var(--color-bg);
}

.fragrance-title {
    font-family: playfair display, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px 0;
}

.fragrance-title h1 {
    font-size: 50px;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-bottom: 15px;
    color: var(--text-color);
}

.fragrance-title h1 span {
    color: #e7b008;
}

.fragrance-title p {
    font-size: 22px;
    color: #71717A;
    text-align: center;
}

.fragrance-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 25px;
    margin-top: 70px;
}

.fragrance-card {
    background-color: var(--color-bg);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.fragrance-card:hover {
    transform: translateY(-3px);
}

.card-image {
    position: relative;
    width: 100%;
    height: 280px;
    overflow: hidden;
}

.card-image:hover img {
    transform: scale(1.08);
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.discount-badge {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: #e7b008;
    color: #000;
    font-weight: 600;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 6px;
}

.heart-icon {
    position: absolute;
    top: 12px;
    left: 12px;
    color: #fff;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 6px;
    transition: 0.3s;
    width: 35px;
    cursor: pointer;
}

.heart-icon:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.cart-icon {
    position: absolute;
    bottom: 12px;
    right: 12px;
    color: #fff;
    font-size: 25px;
    background-color: #e7b008;
    border-radius: 8px;
    padding: 6px;
    transition: 0.3s;
    width: 35px;
    cursor: pointer;
    color: #000;
    width: 40px;
    height: 30px;
    display: none;
}

.fragrance-card:hover .cart-icon {
    display: block;
}

.card-content {
    padding: 18px;
    border-style: solid;
    border-color: #71717A;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 12px 12px;
}

.rating {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #71717A;
    font-size: 14px;
    margin-bottom: 6px;
}

.rating span,
.rating p {
    font-weight: 400;
}

.star-icon {
    color: #e7b008;
    font-size: 16px;
}

.card-content h3 {
    font-size: 22px;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 6px;
    font-family: playfair display, serif;
    cursor: pointer;
    margin-top: 10px;
}

.card-content h3:hover {
    color: #e7b008;
}

.desc {
    font-size: 16px;
    color: #71717A;
    line-height: 1.2;
    margin-top: 8px;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
}

.price-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.price {
    display: flex;
    align-items: center;
    gap: 8px;
}

.price h2 {
    font-size: 20px;
    color: var(--text-color);
    font-weight: bold;
}

.old-price {
    color: #71717A;
    text-decoration: line-through;
    font-size: 15px;
}

.size {
    background-color: #f1f1f1;
    color: var(--text-color);
    font-weight: 600;
    font-size: 14px;
    padding: 4px 10px;
    border-radius: 20px;
}

[data-theme="dark"] .size {
    background-color: #27272A;
}

.fragrance-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fragrance-button .products-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 40px;
    padding: 0 30px;
    box-sizing: border-box;
    margin-top: 50px;
    border: 1px solid rgba(173, 216, 230, 0.4);
    background: transparent;
    color: var(--text-color);
}

.products-btn:hover .products-icon {
    transform: translateX(5px);
}

@media (max-width: 1024px) {
    .fragrance-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .fragrance-collection {
        padding: 40px 20px;
    }

    .fragrance-title h1 {
        font-size: 36px;
    }

    .fragrance-title p {
        font-size: 18px;
    }

    .card-image {
        height: 240px;
    }
}

@media (max-width: 500px) {
    .fragrance-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .fragrance-title p br {
        display: none;
    }
}

@media (max-width: 375px) {
    .fragrance-title h1 {
        font-size: 34px;
    }

    .fragrance-title p {
        font-size: 16px;
    }
}

@media (max-width: 320px) {
    .fragrance-title h1 {
        font-size: 29px;
    }
}